{% extends "feedback/layout.html" %}
<html>
<body>
{% block body %}
  <
<div class="wrapper col4">
  <div id="container">

  <form action="/getmail/" align="center" id="myForm"  onsubmit="return validate_email()" role="form" class="form-inline" method="post">
      {% csrf_token %}
      <div class="form-group">
          <label  for="email">Email Address: </label>

      <input name="email" type="email" id="email"  class="form-control" placeholder="Enter your Official Email ID" />
          </div>

      <button class="btn btn-submit" type="submit" id="submit_button"  >Submit <span class="glyphicon glyphicon-ok-sign"></span> </button>

    </form>
      </div>
    </div>
{% endblock %}
  </body>

</html>